.category-card-outer{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    border: 1px solid ;
    box-shadow: 0px 0px 10px rgb(190, 183, 183);
}
.category-card-image{
    height: 80%;
    width: 100%;
}
.category-card-image>img{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.category-card-text{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}
