/* *{
    transform: rotate(180deg);
} */

.client-card-outer{
    height: 80vh ;
    width: 100%;
    background-color: #f3ced6;
    padding: 70px ;
}
.client-card-outer>p:first-child{
    text-align: center;
    font-weight: 450;
    font-size: 25px;
    height: 60px;
}
.client-card-container{
    height: 250px;
    width: 330px;
    margin: 20px;   
}
.client-card-main{
    
    position: relative;  
}
.client-card-main>img{
    height: 70px;
    width: 70px;
    top: -40px;
    border-radius: 50%;
    margin-left: 36%;
    position: absolute;
}
.client-card-texts{
    margin-top: 14px;
    border: 2px solid rgb(148, 145, 145);
    padding: 20px;
    background-color: white;
    border-radius: 10px ;
}
.client-card-texts>p:first-child{
    margin-top: 20px;
    text-align: center;
    color: rgb(188, 220, 3);
    font-size: 16px;
    font-weight: 600;
}
.client-card-texts>p:nth-child(2){
    font-weight: 500;
    font-size: 18px;
}
.client-card-texts>p:nth-child(3){
    font-size: 12px;
    font-weight: 300;
}